<template name="contribute_modal">

  <!-- Modal -->
  <div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog"
  aria-labelledby = "myModalLabel" aria-hidden = "true">

  <div class = "modal-dialog" style="margin-top: 213px;">
    <div class = "modal-content">

     <div class = "modal-header">
      <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
        &times;
      </button>

      <h4 class = "modal-title" id = "myModalLabel" style="zoom: 158%;">
       Thank you for donating
     </h4>
   </div>

   <div class = "modal-body">

    <input type="text" class="form-control" name="validate-optional" id="validate-optional" placeholder="Phone Number" style="zoom:216%">

    <input type="text" class="form-control" name="validate-optional" id="validate-optional" placeholder="Amount" 
    style="zoom:216%">
  </div>

  <div class = "modal-footer">
    <!-- <button type = "button" class = "btn btn-default" data-dismiss = "modal">
     Close
   </button> -->

   <button type = "button" class = "btn btn-primary">
     Send
   </button>
 </div>

</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

</div><!-- /.modal -->
</template>
