<template name="index">
 <div id="content" class="bg-v-2">

  <!-- Toolbar -->
  <div id="toolbar" class="primary-color">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
      <i class="fa fa-bars"></i>
    </div>
    <span class="title">Help Pay</span>
    <div class="open-right" id="open-right" data-activates="slide-out">
      <i class="ion-android-person"></i>
    </div>
  </div>

  <!-- Main Content -->
  <div class="animated fadeinup">

    <!-- Slider -->
    <div class="swiper-container slider-sliced">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slider-bottom-right valign-wrapper">
            <div class="valign center-align width-100 p-b-5em">
              <h2 class="uppercase" style="zoom: 140%;">Give</h2>
              <p style="zoom: 140%;">Donate and help someone to achieve their goal.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider-bottom-left valign-wrapper">
            <div class="valign left-align width-100 p-b-5em">
              <h2 class="uppercase" style="zoom: 140%;">Recieve</h2>
              <p style="zoom: 140%;">List life changing goals to receive suppory from the community</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider-bottom-right valign-wrapper">
            <div class="valign right-align width-100 p-b-5em">
              <h2 class="uppercase" style="zoom: 140%;">Change</h2>
              <p style="zoom: 140%;">We are changing the world through giving, ONE LIFE at a time</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <!-- End of Slider -->

  </div> 


</div> 
</template>
