<template name="list_of_projects">
  <body>
    <div class="m-scene" id="main"> <!-- Main Container -->

      <!-- Page Content -->
      <div id="content" class="grey-blue page">

        <!-- Toolbar -->
        <div id="toolbar" class="primary-color">
          <div class="open-left" id="open-left" data-activates="slide-out-left">
            <i class="ion-android-menu"></i>
          </div>
          <span class="title">Projects</span>
          <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
          </div>
        </div>

        <!-- Main Content -->
        <div class="animated fadeinup">
          {{#each listOfProjects}}
          <div class="blog-card animated fadein delay-1">
            <div class="blog-header">
              <img class="avatar circle" src="img/user4.jpg" alt="">
              <div class="blog-author">
                <span>Jassie North</span>
                <span class="small">1hour ago - 62 Share</span>
              </div>
            </div>
            <div class="blog-image">
              {{#with FS.GetFile 'images' picture}}
              <img src="{{this.url}}"/>
              {{/with}}
              <!-- <img src="img/10.jpg" alt=""> -->
            </div>
            <div class="blog-preview p-20">
              <h4 class="uppercase">Name: {{projectName}}</h4>
              <p>Project Details: {{projectDetails}}</p>
              <p>Donation Target: {{donationTarget}}</p>
              <a href="{{pathFor "project_details"  _id=_id}}" class="waves-effect waves-light btn primary-color" id="ReadMore">Read</a>
              <a href="article.html" class="waves-effect waves-light btn primary-color pull-right">Contribute</a>
            </div>
          </div>
          {{/each}}


          <!-- Floating Action Button -->
          <div class="floating-button page-fab animated bouncein delay-3">
            <a class="btn-floating btn-large waves-effect waves-light accent-color btn z-depth-1 modal-trigger" href="{{pathFor 'new_project'}}">
              <i class="ion-android-add"></i>
            </a>
          </div>

          <!-- Footer -->
          {{> footer}}

        </div> <!-- End of Main Contents -->


      </div> <!-- End of Page Content -->

    </div> <!-- End of Page Container -->


    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/jquery.smoothState.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mixitup.min.js"></script>
    <script src="js/masonry.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/functions.js"></script>
  </body>
</template>
