<template name="list_of_projects">
  {{> contribute_modal}}
  <body>
    <div class="m-scene" id="main"> <!-- Main Container -->

      <!-- Page Content -->
      <div id="content" class="grey-blue page">

        <!-- Toolbar -->
        <div id="toolbar" class="primary-color">
          <div class="open-left" id="open-left" data-activates="slide-out-left">
            <i class="fa fa-bars"></i>
          </div>
          <span class="title">Projects</span>
          <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
          </div>
        </div>

        <!-- Main Content -->
        <div class="animated fadeinup">
          {{#each listOfProjects}}
          <div class="blog-card animated fadein delay-1">
           
            <div class="blog-image">
              {{#with FS.GetFile 'images' picture}}
              <img src="/img/veronica.png" height="600" />
              {{/with}}
              <!-- <img src="img/10.jpg" alt=""> -->
            </div>
            <div class="blog-preview p-20">
              <h4 class="uppercase" style="zoom: 128%;">Name: {{projectName}}</h4>
              <p style="font-size: 20px">Donation Target: {{donationTarget}}</p>
              <a href="{{pathFor "project_details"  _id=_id}}" class="waves-effect waves-light btn primary-color" style="background-color: #43494F !important"  id="ReadMore">Read</a>

              <button data-toggle = "modal" data-target = "#myModal" class="waves-effect waves-light btn primary-color pull-right" id="contribute" style="background-color: #B73034 !important" >Contribute</button>
              <!-- <button  class="waves-effect waves-light btn primary-color pull-right" id="contribute">Contribute</button> -->
            </div>
          </div>
          {{/each}}


          <!-- Floating Action Button -->
          <div class="floating-button page-fab animated bouncein delay-3">
            <a class="btn-floating btn-large waves-effect waves-light accent-color btn z-depth-1 modal-trigger" href="{{pathFor 'new_project'}}">
              <i class="fa fa-plus fa-5x"></i>
            </a>
          </div>

          <!-- Footer -->
          <!-- {{> footer}} -->

        </div> <!-- End of Main Contents -->


      </div> <!-- End of Page Content -->

    </div> <!-- End of Page Container -->


    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/jquery.smoothState.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mixitup.min.js"></script>
    <script src="js/masonry.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/functions.js"></script>
  </body>
</template>
