

.insertplayerform{
	zoom: 170%
}

.af-select-file{
	zoom:150%;
}
.insertPicture{
	zoom:150%;
}

.control-label{
	zoom:150%;
}
#ReadMore{
	zoom:136%;
	width: 107px
}
#contribute{
	zoom:136%;
}
#contributeMoney{
	zoom: 127%;
    width: 303px;
    height: 70px;
    padding: 7px !important
}

.at-title{
    zoom: 159%;
}
.at-form{
	zoom: 140%;
	overflow-x: hidden;
}
.at-field-email{
	zoom:150%;
}