<template name="new_project">


  <body>
    <div class="m-scene" id="main"> <!-- Main Container -->

      <!-- Sidebars -->

      <!-- Page Content -->
      <div id="content">


        <!-- Toolbar -->
        <div id="toolbar" class="halo-nav box-shad-none">
          <div class="open-left" id="open-left" data-activates="slide-out-left">
            <i class="ion-android-menu"></i>
          </div>
          <span class="title none">ToDo</span>
          <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
          </div>
        </div>

        <!-- Hero Header -->
        <div class="h-banner animated fadeindown">
          <div class="parallax bg-5">
            <div class="banner-title">Please Upload your project...</div>
          </div>
        </div>


        {{#autoForm collection="Projects" id="insertProject" type="insert"}}
        <div class="insertprojectform">

         
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-xs-12 col-sm-12 heading">
              <!-- <h3 style="font-size: 30px;">Please Upload your project...</h3> -->
              <div class="container insertPlayer">
                <p style="zoom:148%">Project Information</p>
                <hr>

                <h4>Picture of Project</h4>
                {{> afQuickField name="picture" }}
                {{> afQuickField name='projectName' }}
                {{> afQuickField name='projectDetails'}}
                {{> afQuickField name='donationTarget'}}


              </div>
              <div>

              </div>
              <button type="submit" class="btn btn-primary pull-right" style="zoom: 124%;">Save</button>
            </div>

          </div>
        
      </div>

      {{/autoForm}}

      <!-- Footer -->
      <footer class="page-footer primary-color">
      
        <div class="footer-copyright blue darken-1">
          <div class="container">
            2016 Codnauts
            <a class="grey-text text-lighten-4 right" href="todo.html#!">Privacy Policy</a>
          </div>
        </div>
      </footer>



    </div> <!-- End of Page Content -->

  </div> <!-- End of Page Container -->


  <script src="js/jquery-2.1.0.min.js"></script>
  <script src="js/jquery.swipebox.min.js"></script>
  <script src="js/jquery.smoothState.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/jquery.mixitup.min.js"></script>
  <script src="js/masonry.min.js"></script>
  <script src="js/chart.min.js"></script>
  <script src="js/functions.js"></script>
</body>
</template>
